.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  z-index: 1;
}

.Hero {
  width: 100%;
  background-color: #FFD1D1;
  margin-top: 10rem;

  > div {
    max-width: 1300px;
    margin: 0 auto;
    padding: 4rem 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
      padding: 3rem 2rem;

      flex-direction: column-reverse;
      gap: 2rem;
    }

    h2 {
      font-size: 1.75rem;
      color: #5B1616;
      letter-spacing: 0.05em;
      font-weight: 600;
    }

    h1 {
      font-size: 2.75rem;
      color: #5B1616;
      letter-spacing: 0.05em;
      font-weight: 700;
      max-width: 700px;
    }

    p {
      font-size: 1.5rem;
      color: #5B1616;
      letter-spacing: 0.05em;
      font-weight: 400;
    }
  }

  @media screen and (max-width: 768px) {
    margin-top: 3rem;
  }
}

.Footer {
  display: flex;
  flex-direction: column;
  background: #FFD1D1;
  padding: 4rem 2rem;
  text-align: center;
  width: 100%;
  align-items: center;

  p {
    font-size: 1.75rem;
    color: #5B1616;
    letter-spacing: 0.05em;
    font-weight: 700;
    max-width: 900px;
  }
}