.Logo {
  position: relative;
  z-index: 1;
  transform: scale(0.9);

  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.TextCenter {
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFD1D1;
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
}

.TextBottom {
  position: absolute;
  bottom: 17%;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 1.25rem;
}

.Path {
  transform: scale(1);
  fill: #5B1616;
  transition: all 0.5s;
  transform-origin: center center;

  &:hover {
    transform: scale(1.025);
    // fill: #5B2636;
  }
}